@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);


#menu{
	background: url(img/background.jpg) center;
	border-color: transparent;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.8);
}

#menu-elementos li a{
	text-align: center;
	color: white;
}

#menu-elementos li a:hover{
	background: rgba(255, 255, 255, 0.3);
}

.navbar-brand a{
	color: white;
}

header{
	background: url(img/background.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 640px;
	margin-top: -73px;
}

.header-centrado{
	width: 100%;
	margin-top: 7%;
	text-align: center;
	color: white;

}

.header-titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 5px;
}

.header-texto{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: italic;
	color: white;
	letter-spacing: 2px;
}

#header-btn{
	background-color: transparent;
	color: white;
	width: 200px;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2%;
}

#header-btn:hover{
	background-color: rgba(255,255,255,0.2);

}

#imgAboutManu{
	margin: 0 auto;
}
#aboutme-title{
	text-align: center;
}
.aboutme{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-align: center;
}

#skills{
	background-color: #F2F2F2;
}

.hr-skills{
	border: 1px solid;
	border-color: rgba(255,255,255,0.8);
}

#skills-title{
	text-align: center;
}

#skills-text{
	font-size: 22px;
}

.centrado{
	text-align: center;
}

#centrarImg{
	margin: 0 auto;
}

a, a:link, a:hover, a:visited{
	color: black;
    text-decoration: none;
}

